<nav class="navbar">
  <div class="nav-container">
    <section>
      <h1>Estudiantes</h1>
    </section>
    <section>
      <h1>Estudiantes</h1>
    </section>
    <section>
      <h1>Estudiantes</h1>
    </section>
  <div>
</nav>