<nav class="navbar">
  <div class="nav-container">
    <div class='menu-nav'>
    </div>
    <div>
      <div>
        <%= image_tag("house-solid.svg", class: 'home-icon')%>
      </div>
      <div class='student'>
      <h1><%=t('.user')%></h1>
      </div>
    </div>
    <div>
      <h1></h1>
    </div>
  </div>
</nav>