<section class='attendance-summary-table'  data-controller='attendance'> 
  <%= image_tag('Vector-up.svg', class:'vector-up-summary', data: { action: 'click->attendance#toggle' }) %>
  <table class='summary-table' data-attendance-target='table'>
    <tr class='tr-attendance'>
      <th class='th-attendance th-student-body'><%=t('.attendance')%></th>
      <td class='td-summary green-circle'>4</td>
      <td class='td-summary red-circle'>3</td>
      <td class='td-summary yellow-circle'>1</td>
    </tr>
    <tr class='tr-attendance'>
      <th class='th-attendance th-student-body'><%=t('.highlighted')%></th>
      <td>
        <p class='q-highlight'>1</p>
      </td>
    </tr>
    <tr class='tr-attendance'>
      <th class='th-attendance th-student-body'><%=t('.team')%></th>
      <td colspan=3>
        <ul class='td-attendance'>Agustina Chirino</ul>
        <ul class='td-attendance'>Nicolas García</ul>
        <ul class='td-attendance'>Agustina Chirino</ul>
      </td>
    </tr>
  </table>
</section>