* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 55.4375rem;
    height: 36.5rem;
    
    

    background: #FFFFFF;
    box-shadow: -0.4375rem 0.4375rem 1.875rem rgba(0, 76, 92, 0.2);
    border-radius: 0.5rem;
}

.login {
    background: #0090AF; 
}

.container {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container-card {
    height: 100%;
    display: flex;
    
}

.form-card {
    display: flex;
    justify-content: center;
    text-align: right;

}

.imag-card {
    display: flex;
    align-items: center;
}

.nav-card {
    
}

.signin-button{
    color: white;
    border-radius: 3.4537px;
    background-color: #0090AF;
    height: 2.5rem;
    width: 15.625rem;
}
.signin-button-google{
    border-color: #0090AF;
    border-radius: 3.4537px;
    border: 1px solid;
    height: 2.5rem;
    width: 15.625rem;

    background-color: transparent;
}