.flash-message {
  position: absolute;
  top: 7rem;
  margin: auto;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.625rem;
  width: fit-content;
  left: 0; 
  right: 0; 
  margin-left: 310px; 
  border: 0.125rem solid green;
  color: green;
}

.link-student:hover {
  color: black
}

.login-warning {
  color: red;
  position: absolute;
  top: 7rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.625rem;
  width: fit-content;
  left: 0; 
  right: 0; 
  margin-left: 290px; 
  margin-right: auto;

}
.login-success {
  color: green;
  position: absolute;
  top: 7rem;
  margin: auto;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.625rem;
  width: fit-content;
  left: 0; 
  right: 0; 
  margin-left: 290px; 
  margin-right: auto;
}