/*css del boton del modal*/
.modal-close-user, .modal-new-user{
  display: flex;
  height: 90%;
  width: 9.375rem;
  border: solid;
  border-color: #0090AF ;
  background: #0090AF;
  border-radius: 0.25rem;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.625rem;
}
