.form-card {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  margin-bottom: 1.5625rem;
  font-weight: 300;
}

.form-card > h1 {
  align-self: center;
}
.center-form-content {
  display: flex;
  flex-direction: column;
  width: 21.875rem;
  padding: 2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #000000;
}
.form-label {
  margin-top: 0.9375rem;
}

.modal-close-user, .modal-new-user{
  display: flex;
  height: 90%;
  width: 9.375rem;
  border: solid;
  border-color: #0090AF ;
  background: #0090AF;
  border-radius: 0.25rem;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.625rem;
}
