.home-container{
	height: 100%;
	width: 100%;
	background: white;
}
.slide-menu{
	width: 270px;
	height: 977px;
	background: #F1F3F3;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.slide-menu-item-saludo{
	display: flex;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #0090AF;
	align-items: center;

}
.slide-menu-item-saludo-h1{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #0090AF;
	align-self: flex-start;
	margin-left: 50px;
}
.slide-menu-item{
	margin-top:8px;
	align-self: flex-start;
	margin-left: 50px;
}
li {
	list-style: none;
}