.modal-title {
  height: 69px;
  background: #0090AF;
  border-radius: 8px 8px 0px 0px;
  justify-content: center;
}

.modal-title-h1{
  color: white;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 25px;
}

.modal-center-form-user {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 380px;
  height:380px;
  left: 452px;
  top: 109px;
  background: #FFFFFF;
  box-shadow: -7px 7px 30px rgba(0, 76, 92, 0.2);
  border-radius: 8px;
}

.modal-item-user{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.modal-new-user {
  width: 14.5625rem;
  height: 2.5rem;
  background: #0090af;
  border-radius: 0.2159rem;
  color: rgb(254, 254, 254);
  font-size: 1rem;
  line-height: 1.125rem;
  border: none;
  margin: 30px;
  font-weight: bold;
}

.modal-new-user:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}

.modal-form-label-user{
  height: 30px;
  width: 300px;
  left: 675px;
  top: 300px;
  background: #FAFAFA;
  border: 1.29514px solid #CCCCCC;
  border-radius: 7.06992px;
}

.form-label{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.input-form-modal-edit-user select{
  height: 30px;
  width: 300px;
  left: 675px;
  text-align: center;
  top: 132px;
  background: #FAFAFA;
  border: 1.29514px solid #CCCCCC;
  border-radius: 7.06992px;
}