.navbar {
	min-width: 75rem;
  color: white;
  display: flex;
  align-items: center;
  background-color: #0090af;
  height: 2rem;
  margin: 0rem;
  padding: 0rem;
}
/*menu desplegable*/
.boton-menu-nav{
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 1.875rem;
}

.slide-menu{
	width: 16.875rem;
	height: 100%;
	background: #F1F3F3;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	transform: translate(-61.0625rem,0rem);
	margin-top:0.25rem;
}

.slide-menu-item-saludo{
	display: flex;
	width: 100%;
	border-bottom: 0.0625rem solid #0090AF;
	align-items: center;
	gap: 0.3125rem;
}

.slide-menu-item-saludo-h1{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.3125rem;
	color: #0090AF;
	align-self: flex-start;
	margin-left: 3.125rem;
}

.slide-menu-item-saludo-h2 {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	font-size: 0.9375rem;
	line-height: 1.125rem;
	color: #BEC2C4;
}

.slide-menu-item{
	margin-top:0.5rem;
	align-self: flex-start;
	margin-left: 3.125rem;
}

li {
	list-style: none;
}
.menu-icon {
  height: 1.25rem;
  width: 1.563rem;
}

.nav-link {
  width: 100%;
  text-align: center;
}

.link-menu-student{
  font-size: 1.125rem;
  color: white;
  height:0.625rem ;
  cursor: pointer;
  font-weight: 600;
  padding-bottom: 0.15rem;
  margin-left: 1.875rem;
}

.link-menu-studente:visited {
  color: black;
}

.link-menu-student-active {
	font-size: 1.125rem;
  color: white !important;;
  height:0.625rem ;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 0.13rem solid white;
  padding-bottom: 0.15rem;
  margin-left: 1.875rem;
}

.name-user-current{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 0.8634rem;
	line-height: 1.8125rem;
	color: #FFFFFF;
	position:relative ;
	top: 1.25rem;
}

.myButton-logout{
	width: 9.25rem;
	height: 2.25rem;
	background: #FFFFFF;
	box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 76, 92, 0.2);
	border-radius: 0.25rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 0.875rem;
	line-height: 1.8125rem;
	display: flex;
	align-items: center;
	text-align: center;
	color: #343A40;
	position:relative;
	transform: translate(0rem, -5rem);	
}

.myButton-logout:hover{
	 border: 0.0625rem solid #0090af; 
}

.boton-logout{
	background: none;
	border: none;
 	font-size: 1rem;
  line-height: 1.8125rem;
  color: white;
  height:0.625rem ;
  width: 6.25rem;
  cursor: pointer;
  margin-left:0.3125rem;
  font-weight: 600;
  text-align: right;
}

.logout-boton{
	border-style: none;
	background: #FFFFFF;
	margin-left: 1.25rem;
	cursor: pointer;
	font-size: 0.875rem;
}

.home-icon {
  height: 1.5rem;
  width: 1.5625rem;
  margin-bottom: -0.125rem;
}

.home-icon:hover {
	border-bottom: 0.125rem solid white;
}

.home-icon:active {
	top:0.063rem;
}

