/*Estilos vista estudiante*/

/*la clase show-container-student esta en application.css*/

.student-fullname {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 2rem;
  font-size: 16px;
  line-height: 1.1875rem;
  color: #474747;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 25px;
  margin-left: 1rem;
}

.student-name {
  font-style: normal;
  font-weight: 2rem;
  font-size: 16px;
  line-height: 19px;
  color: #0090AF;
  margin-left: 0.25rem;
}

.student-chevron-right {
  height: 0.75rem;
  width: 0.75rem;
}

.student-h1 {
  margin: 1.25rem 4rem 1rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 2rem;
  font-size: 18px;
  line-height: 1.4375rem;
  color: #474747;
}

.student-h2 {
  margin: 1.25rem 2rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 1.5rem;
  font-size: 14px;
  line-height: 1.1875rem;
  color: #0090af;
}

.student-h3 {
  margin: 1.25rem 0rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 1.5rem;
  font-size: 14px;
  line-height: 1rem;
  color: #474747;
}

.student-p {
  margin: 1.25rem 0rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.1875rem;
  color: #474747;
}
.student-page {
  display: flex;
}

.student-contenedor {
    width: 23%;
    display: flex;
    border-right: 0.0625rem solid #DADADA;
}

.comentarios{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.comentario-item1{
  width: 70%;
  height: 30%;
  background: #F1F3F4;
  border-radius: 0.5rem;
  margin-top: 25px;
}

.comentario-h1{
font-weight: 500;
font-size: 14px;
line-height: 1.1875rem;
color: #000000;
}

.emoji{
 align-items: flex-start;
}
