.student--container{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0rem;
  padding: 0rem;
}

.student--container-tittle {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 2rem;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #474747;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.625rem;
  margin-top: 1.5625rem;
  margin-left: 1rem;
}

.student-name {
  font-weight: 2rem;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #0090AF;
  margin-left: 0.25rem;
}

.student-chevron-right {
  height: 0.75rem;
  width: 0.75rem;
}

.student--card-name {
  margin: 1.25rem 4rem 1rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 2rem;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #474747;
}

.student--card-subtittle {
  margin: 1.25rem 2rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #0090af;
}

.student--card-label {
  margin: 1.25rem 0rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 1.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #474747;
}

.student--card-data {
  margin: 1.25rem 0rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #474747;
}
.student-card{
  display: flex;
}

.student-contenedor {
  width: 23%;
  display: flex;
  border-right: 0.0625rem solid #DADADA;
}

.comments{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.comments-text{
  width: 70%;
  height: 30%;
  background: #F1F3F4;
  border-radius: 0.5rem;
  margin-top: 1.5625rem;
}

.comentario-h1{
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #474747;
  text-align: center;
  padding: 1rem;
}

.emoji{
 align-items: flex-start;
}

.icons-and-public-button{
  padding: 0.7rem 0rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.button-comment{
  background: #0090AF;
  border-radius: 0.25rem;
  margin-left: auto;
  width: 8.4375rem;
  height: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
  border: none;
}

.conteiner-text-comment{
  box-sizing: border-box;
  width: 100%;
  border: 0.0625rem solid #DADADA;
  border-radius: 0.5rem;
  position: relative;
}

.comentarios{
  width: 70%;
}

.text-comment{
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #000000;
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
}

.text-comment-each{
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #0090AF;
}

.slash-buttons{
  display: flex;
  align-items: center;
}

.aswers-textarea{
  width: 100%;
  background: #F1F3F4;
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  padding: 1.25rem;
  border: none;
  vertical-align: middle;
  top: 50%;
}

details>summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.summary-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7rem 0.7rem;
}

summary::after {
  background-image: url('assets/chevron-up.svg');
  background-repeat: no-repeat;
  background-size: 0.625rem 0.625rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: '';
}

details[open] summary::after {
  background-image: url('assets/chevron-down.svg');
}

.placeholder-answers{
  position: relative;
  margin: 1%;
}

.form-btn-sub-comment {
  position: absolute;
  right: 2%;
  top: 30%;
  border: none;
  background-color: inherit;
}

.comment-date { 
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #000000;
}

.comment-time {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  color: black;
  padding-left: 0.3125rem;
}

.comment-name-time {
  display: flex;
  padding: 0.625rem;
}

.conteiner-answer-comment {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.answer-comment{
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #000000;
  padding: 0.3125rem;
}

.answer-name-time {
  display: flex;
  padding: 0.3125rem;
}

.hr-answers {
  border: 1px solid #DADADA;
  margin:auto;
}

.answers-container {
  padding-left: 3.125rem;
}