/*Estilos vista index estudiante*/
.student-magnifying-glass {
  height: 70%;
  width: 2rem;
  margin: 0.3125rem 0rem;
}
.student-magnifying-glass input {
  height: 90%;
}

.student-new-student {
  display: flex;
  height: 90%;
  width: 9.375rem;
  border: solid;
  border-color: #0090af;
  background: #0090af;
  border-radius: 0.25rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0rem 0.625rem;
}

.student-pen-icon {
  height: 1.25rem;
  width: 1.5625rem;
  border-color: white;
  background: white;
}

.student-pagination {
  padding: 3.125rem;
  display: flex;
  justify-content: center;
  color: black;
}

.student-nav-container {
  display: flex;
  text-align: center;
  text-justify: center;
  justify-content: flex-end;
  padding: 0.3125rem 9.375rem;
  height: 2.8125rem;
  margin: 1.25rem;
}

.student-button-filter form {
  width: 100%;
}

.student-button-filter {
  display: flex;
  width: 30%;
}
/*Estilos de la lista de estudiantes completa*/
.student-table-container {
  display: flex;
  justify-content: center;
}

.student-th {
  display: flex;
  justify-content: flex-start
  color: #0090af;
  padding: 0.3125rem;
  text-transform: uppercase;
  color: #007792;
}

.student-td {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #dadada;
  padding: 1.5rem;
  height: 0.5rem;
}

.student-td:hover {
  border: 0.0625rem solid #0090af;
}
.student-name-index{
  min-width: 200px;
}
.student-age{
  min-width: 150px;
}
.student-level{
  min-width: 150px;
}

.student-status{
  min-width: 600px;
}
/*Estilos vista estudiante*/
.show-container-student{
  background: white;
  display: flex;
  flex-direction: column;
}

.student-fullname {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 2rem;
  font-size: 16px;
  line-height: 1.1875rem;
  color: #474747;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 25px;
}
.student-name {
  font-style: normal;
  font-weight: 2rem;
  font-size: 16px;
  line-height: 19px;
  color: #0090AF;
  margin-left: 1rem;

}

.student-chevron-right {
  height: 0.75rem;
  width: 0.75rem;
}

.student-h1 {
  margin: 1.25rem 3rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 2rem;
  font-size: 18px;
  line-height: 1.4375rem;
  color: #474747;
}

.student-h2 {
  margin: 1.25rem 0rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 1.5rem;
  font-size: 16px;
  line-height: 1.1875rem;
  color: #0090af;
}

.student-h3 {
  margin: 1.25rem 0rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 1.5rem;
  font-size: 14px;
  line-height: 1rem;
  color: #474747;
}

.student-p {
  margin: 1.25rem 0rem 0rem 1.25rem;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.1875rem;
  color: #474747;
}
.student-page{
  display: flex;

}
.student-contenedor {
    width: 20%;
    display: flex;
    border-right: 0.0625rem solid #DADADA;
}
.comentarios{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;

}

.comentario-item1{
  width: 70%;
  height: 30%;
  background: #F1F3F4;
  border-radius: 0.5rem;
  margin-top: 25px;
}

.comentario-h1{
font-weight: 500;
font-size: 1rem;
line-height: 1.1875rem;
color: #000000;
}
.emoji{
 align-items: flex-start;
}
