.user-magnifying-glass {
  height: 70%;
  width: 2rem;
  margin: 0.3125rem 0rem;
}
.user-magnifying-glass input {
  height: 90%;
}

.menu {
  display: flex;
  width: 16.875rem;
  height: 5rem;
  left: 0rem;
  top: 3rem;
  background: #F1F3F3;
  align-items: center;
}
.menu-icon {
  height: 1.25rem;
  width: 1.563rem;
}
.user-pen-icon { 
  height: 1.25rem;
  width: 1.5625rem;
  background: white;
}
.trash-icon {
  height: 1.25rem;
  width: 1.5625rem;
  background: white;
}
.user-nav-users-container {
  display: flex;
  text-align: center;
  text-justify: center;
  justify-content: flex-end;
  padding: 0.3125rem 9.375rem;
  height: 2.8125rem;
  margin: 1.25rem;
}
.index-container {
  min-height: 42em;
  min-width: 62.5rem;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}
.filter {
  width: 100% ;
  height: 90%;
  background: #FAFAFA;
  border: 0.0809rem solid #CCCCCC;
  border-radius: 0.4419rem;  
  margin-right: 0.3125rem;
}
.user-new-user {
  display: flex;
  height: 90%;
  width: 9.375rem;
  border: solid;
  border-color: #0090AF ;
  background: #0090AF;
  border-radius: 0.25rem;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0rem 0.625rem;
}
.user-button-filter {
  display: flex;
  width: 30%;
}

.user-button-filter form{
  width: 100%;
}



.user-table-container {
  width: 95%;
  height: 65%;
  border-collapse: collapse;
  margin: 1.25rem;
}
.user-table-th {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  color: #007792;
}

.user-table-td {
  text-align: center;
  font-size: 2rem;
  border: 0.0625rem solid #dadada;
  border-radius: 0.5rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #474747;
}
.user-checkbox {
  margin-right: 0.3125rem;
}
.user-name {
  text-align: center;
  min-width: 15%;
  
}
.user-email {
  min-width: 35%;
}

.users-tr {
  border-radius: 0.3125rem;
  border: 0.0625rem solid black;
  padding: 0.3125rem 1.375rem;
  height: 2.8125rem;
  align-items: center;
}

.user:hover {
  border: 0.0625rem solid #0090af;
}
.user-pagination {
  display: flex;
  justify-content: center;
  color: black;
}
