.navbar{
  background-color: #0090AF;
  color: white;
  height: 3rem;
  display: flex;
  
}
.nav-container{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
}
.nav-users-container{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.index-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-users{
  background-color: #0090AF;
  border-radius: 0.2159rem;
  color: white;
  width: 10rem;
}

table th, table td {
  padding: 15px;
  text-align: center;
}

.first_name, .last_name, .email, .rol_name, .active {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #007792;
}
